# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Node
node_modules/

# Build Files
dist/
build/

# Jupyter
.ipynb_checkpoints/